/* Add your custom styles here */
// .btn-primary{
//     background-color: #1d4367;
//     border-color: #1d4367;
//     color: #ffc00f;
//     &:hover{
//         background-color: #ffc00f;
//         border-color: #ffc00f;
//         color: #1d4367;
//     }
// }
// .bg-primary{
//     background-color: #1d4367 !important
// }

body {
    background-color: #2b2b2b
}

.bg-primary {
    background-color: #202020
}

.navbar {
    background-color: #242424 !important
}

footer {
    background-color: #242424 !important
}

p, h1, h2, h3, h4, h5, h6, strong, address, ul, li {
    color: #FFF;
    margin-bottom: 0
}

a {
    color: #FB5E5E;
    display: block;
    padding: 5px; // Reduced padding for a more classic look
    margin-bottom: 5px; // Reduced margin for efficiency
    text-decoration: none;
    border-radius: 2px; // Reduced border radius for a more classic look
    background-color: #242424; // Kept the same background color for simplicity
    color: #FFF;
    transition: all 0.3s ease; // Added transition for smooth hover effect

    &:hover {
        background-color: #FB5E5E; // Changed background color on hover
        color: #242424; // Changed text color on hover
    }
}

.social_media_links .text-center a {
    // None of the A properties
    display: inline-block;
    margin: 0 10px;
    color: #FFF;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    background-color: transparent;
    &:hover {
        transform: scale(1.2); // Added scale effect on hover
    }
}

.card {
    background-color: #202020;
}

.card-footer {
    background-color: #131313;
}

.btn {
    background-color: #FB5E5E;
}