<div class="col-md-4 mb-5">
  <h2>Contact Me</h2>
  <hr />
  <address>
    <strong>Joey Einerhand</strong>
    <br />The Netherlands<br />
  </address>
  <address>
    <abbr title="Email">Email:</abbr>
    <a href="mailto:#">joey.einerhand@gmail.com</a>
    <br />
    <abbr title="LinkedIn">LinkedIn:</abbr>
    <a href="https://www.linkedin.com/in/joeyeinerhand/">
      https://www.linkedin.com/in/joeyeinerhand/
    </a>
    <br />
    <abbr title="GitHub">GitHub:</abbr>
    <a href="https://github.com/Joey-Einerhand">
      https://github.com/Joey-Einerhand
    </a>
    
    <br />

  </address>
</div>
