---
---

@charset "utf-8";

$theme-colors: (
  "primary": #121212
);

// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


.under_construction {
  image-rendering: pixelated;
}

@import "style", "custom";
